<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mainapi.mapper.OpConfigMapper">
<select id="findAll" resultType="kr.co.mainapi.dto.OpConfig">
SELECT id,name,`key`,`value`,created_at AS createdAt FROM op_config_info ORDER BY id
</select>
</mapper>
